<?xml version="1.0"?>
<!-- created with Phobos 0.7 -->
  <robot name="tomato_soup_can">

    <link name="tomato_soup_can">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.149"/>
        <inertia ixx="0.00043" ixy="0" ixz="0" iyy="0.00027" iyz="0" izz="0.00044"/>
      </inertial>
      <visual name="visual_tomato_soup_can">
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="meshes/obj/tomato_soup_can.obj" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision name="collision_tomato_soup_can">
        <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="meshes/obj/tomato_soup_can.obj" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <material name="white">
      <color rgba="0.64 0.64 0.64 1.0"/>
      <texture filename="meshes/obj/texture_map.png"/>
    </material>

  </robot>
